*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}
body{
    background-color: #303030;
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    font-family: 'Hind Siliguri', sans-serif;
font-family: 'Roboto', sans-serif;
}
.blue{
    background-color: #0282fa;
}